node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
.fleet
.idea
.cache
auto-imports.d.ts

capacitor.config.json
**capacitor.config.json
__generated__
coverage

# Pergel
lib
dist
.nx
.eslintcache
packages/*/pergel
themes/*/pergel